<header
  class="flex flex-col items-center gap-4 w-[90%] max-w-[800px] mx-auto mb-6 text-center bg-gradient-to-b from-[#2c0a4c] to-[#450d80] p-4 rounded-br-[12px] rounded-bl-[12px] shadow-[0_1px_8px_rgba(0,0,0,0.6)] md:p-8"
>
  <img
    class="w-[56px] object-contain md:w-[72px]"
    src="/assets/task-logo.png"
    width="50"
    height="50"
    alt="logo"
  />
  <div>
    <h1 class="text-[20px] md:text-2xl">Easy Task</h1>
    <p class="text-[12px] text-wrap">Enterprise-level task management!</p>
  </div>
</header>
